<!-- accounts/templates/accounts/password_reset_form.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
</head>
<body>
    <div class="container" style="margin-top: 50px;">
        <form method="post" class="card-panel">
            {% csrf_token %}
            <h5>Reset Your Password</h5>
            {{ form.as_p }}
            <button type="submit" class="btn waves-effect waves-light">Send Password Reset Email</button>
        </form>
    </div>
</body>
</html>
