<!-- accounts/templates/accounts/password_reset_confirm.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enter New Password</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
</head>
<body>
    <div class="container" style="margin-top: 50px;">
        <form method="post" class="card-panel">
            {% csrf_token %}
            <h5>Enter New Password</h5>
            {{ form.as_p }}
            <button type="submit" class="btn waves-effect waves-light">Change Password</button>
        </form>
    </div>
</body>
</html>
