{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text2Code</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-components-web/11.0.0/material-components-web.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>

    {% include 'core/sidebar.html' %}

    <div class="main-content">
            <img src="{% static 'images/logo.png' %}" alt="logo" class="logo">
            <h2>
                Welcome to Text 2 Code
            </h2>
            <p>
                A platform that allows you to convert text to code
            </p>
            <form action="{% url 'chat_list' %}" method="post">
                {% csrf_token %}
                <button id="get-started" class="mdc-button mdc-button--raised">Get Started</button>
            </form>

        </div>
    </div>

<script src="{% static 'js/sidebar.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/material-components-web/11.0.0/material-components-web.min.js"></script>
<script>
    // Initialize Material Design components
    mdc.autoInit();
</script>
</body>
</html>