{% load static %}
<div id="sidebar" class="sidebar">
    <div class="sidebar-content">
        <div class="icon" onclick="toggleSidebar()">
            <i class="material-icons">add</i>
            <form action="{% url 'chat_list' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="text styled-button">New Chat</button>
            </form>
        </div>

        <div class="chat-list">
            <h3>Chats</h3>
            <ul>
                {% for chat in chats %}
                <div class="chat-item">
                    <a href="{% url 'chat_detail' chat.id %}">
                        <span class="chat-name-display">{{ chat.title }}</span>
                    </a>
                    <div class="action-buttons">
                        <i class="fas fa-pencil-alt edit-chat-button" onclick="makeEditable();"></i>
                        <form method="post" action="{% url 'chat_detail' chat.id %}" class="chat-edit-form">
                            {% csrf_token %}
                            <input type="hidden" name="_method" value="patch">
                            <input class="chat-name-input" type="text" name="title" value="{{ chat.title }}"  readonly>
                        </form>
                        <!-- Delete form -->
                        <form method="post" action="{% url 'chat_detail' chat.id %}" style="display: inline;">
                            {% csrf_token %}
                            <input type="hidden" name="_method" value="delete">
                            <button type="submit" class="delete-chat-btn" title="Delete">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>
                    </div>
                </div>
                {% empty %}
                <br>
                <div class="chat-item">
                    <span class="chat-name-display">No chats available.</span>
                </div>
                {% endfor %}
            </ul>
        </div>
    </div>
    
    <div class="icon" onclick="toggleDropdown()">
        <i class="material-icons">account_circle</i>
        <span class="text">Account</span>
        <!-- Dropdown Menu -->
        <div class="dropdown-menu">
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        </div>
    </div>

</div>    
<button id="sidebarCollapse" onclick="toggleSidebar()">
    <i class="material-icons" id="toggleIcon">chevron_left</i>
</button>

<script src="{% static 'js/sidebar.js' %}"></script>